$border: 1px solid #ccc;
$color-main: rgb(37, 111, 153);
$container-width: 800px;
$font-color: #333;
$font-color-a: #2a7ae2;
$font-color-a-visited: #1756a9;
$font-color-a-hover: lighten($font-color-a, 15%);
$font-list: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3, Meiryo', メイリオ, Arial, sans-serif;
